{% extends 'base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    {% block headers %}
    <link rel="stylesheet" href="{% static 'accounts/bookmarks.css' %}">
    {% endblock %}
</head>

<body>
{% block content %}
<div class="bookmarks-header">
    <h2><i class="fas fa-bookmark"></i> Saved Blooms</h2>
    <p class="bookmarks-count">{{ bookmarked_posts.count }} saved posts</p>
</div>

<div class="bookmarks-grid">
   {% for bookmark in bookmarked_posts %}
    <div class="bookmark-item">
        <a href="{% url 'home:post_details' bookmark.id %}"><img src="{{ bookmark.image.url }}" alt="Saved Post" class="bookmark-image"></a>
        <div class="bookmark-overlay">
            <span class="bookmark-title">{{bookmark.desc|truncatewords:5}}</span>
        </div>
    </div>
    {% endfor %}

</div>

{% endblock %}
</body>