{% load static %}
{% include 'messages.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    {% block headers %} {% endblock %}
</head>

<body>
    <div class="container">
      {% include 'navbar.html' %}

      <div class="main-content">
        <div class="middle-content profile-page">
          {% block content %} {% endblock %}
        </div>

        <div class="right-content" style="overflow-y: auto; height: calc(100vh - 40px);">
            <div class="notification-overlay" onclick="toggleNotifications()"></div>
          <button class="close-btn" onclick="toggleNotifications()">✕</button>
          <h3><i class="fas fa-bell"></i> Notifications</h3>
          {% for notif in notifs %}
          <div class="message-thread">
              <div class="user"><a href="{% url 'accounts:profile' notif.from_user.username %}">{{ notif.from_user.username }} </a> ({{ notif.created|timesince|date:"" }} ago)</div>
            <div class="preview">{{ notif.desc }}</div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <script src="{% static 'index.js' %}"></script>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
<script>
    document.body.addEventListener('htmx:configRequest', function (event) {
        const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        event.detail.headers['X-CSRFToken'] = csrfToken;
    });
</script>

</body>
</html>